<h2> Hello {{ username }} </h2>
<p>
You have notified you have forgotten your password. Click <a href="{{ resetPasswordUrl }}">here</a> to reset your password and recover your account.
</p>
<p>
  Or copy and paste this url: {{ resetPasswordUrl }}.
</p>